.vscode

# IAR Settings 
**/settings/*.crun 
**/settings/*.dbgdt 
**/settings/*.cspy 
**/settings/*.cspy.* 
**/settings/*.xcl 
**/settings/*.dni 
**/settings/*.wsdt 
**/settings/*.wspos 
**/Exe/*
**/List/*
**/Obj/*
*.dep
*.dnx


# KEIL 
*.bak
*.ddk
*.edk
*.lst
*.lnp
*.mpf
*.mpj
*.obj
*.omf
*.plg
*.rpt
*.tmp
*.__i
*.crf
*.o
*.d
*.axf
*.tra
*.dep          
JLinkLog.txt
*.iex
*.htm
*.sct
*.map
*.Administrator
*.uvopt
*.hex
*.bin
*.uvguix.*
*.scvd
*.uvoptx
